.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bodydark: #151b23;
  --navdark: #0d1117;
  --white: #fff;
  --llwhite: #d3d3d3e8;
  --black: black;
  --bodylight: #ececec;
  --text: #cecece;
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --mobile: 576px;
  --border: #4e4e4eb9;
  --room-bottom: #2a2e38;
  --footer-lwhite: #d5d5d5c4;
  --footer-white: rgba(238, 238, 238, 0.918);
}

* {
  margin: 0;
  padding: 0;
}

.vorex {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
}

html ::-webkit-scrollbar {
  display: none;
}

p {
  all: unset;
}

body {
  min-height: 100vh;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--bodydark);
  color: var(--white);
  width: 100%;
  display: grid;
  overflow: auto;
  grid-template-rows: 58.6px 2fr auto;
  grid-template-columns: 58px 1fr;
  grid-template-areas: "nav nav" "sidebar main " "sidebar footer ";
}

nav {
  grid-area: nav;
  top: 0;
  position: sticky;
  display: flex;
  z-index: 99999;
  width: 100%;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  background-color: var(--navdark);
  border-bottom: 1px solid var(--border);
}
nav .nav-container-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
nav .nav-container-left .hamburger {
  display: inline-block;
  cursor: pointer;
}
nav .nav-container-left .bar1,
nav .nav-container-left .bar2,
nav .nav-container-left .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--llwhite);
  margin: 5.5px 0;
  transition: 0.4s;
}
nav .nav-container-left .change .bar1 {
  transform: translate(0, 8.5px) rotate(-45deg);
}
nav .nav-container-left .change .bar2 {
  opacity: 0;
}
nav .nav-container-left .change .bar3 {
  transform: translate(0, -8.5px) rotate(45deg);
}
nav .nav-container-left .nav-links {
  display: flex;
  align-items: center;
}
nav .nav-container-left .nav-links a {
  text-decoration: none;
  color: var(--llwhite);
  font-size: 1.5rem;
}
nav .nav-container-left .nav-links .nav1 {
  padding-left: 10px;
}
nav .nav-container-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
nav .nav-container-right .search-container {
  border: 1px solid var(--llwhite);
  padding: 0.45rem 0.55rem;
  border-radius: 4px;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .nav-container-right .search-container i {
  color: var(--llwhite);
  font-size: 0.9vw;
}
nav .nav-container-right .search-container:hover {
  background-color: var(--llwhite);
}
nav .nav-container-right .search-container:hover i {
  color: black;
}
nav .nav-container-right [class^=nav-container-right-] {
  display: flex;
  flex-direction: row;
}
nav .nav-container-right-login-btn a button {
  color: var(--llwhite);
  background-color: transparent;
  border: 1px solid var(--llwhite);
  border-radius: 3px;
  transition: 0.4s ease;
  padding: 0.2rem 0.5rem;
}
nav .nav-container-right-login-btn a button:hover {
  background-color: var(--llwhite);
  color: var(--black);
}
nav .nav-container-right-signup-btn a button {
  color: var(--llwhite);
  background-color: transparent;
  border: 1px solid var(--llwhite);
  border-radius: 3px;
  transition: 0.4s ease;
  padding: 0.2rem 0.5rem;
}
nav .nav-container-right-signup-btn a button:hover {
  background-color: var(--llwhite);
  color: var(--black);
}
nav .nav-container-right-create-logo {
  border: 1px solid var(--llwhite);
  border-radius: 4px;
}
nav .nav-container-right-create-logo a i {
  color: var(--llwhite);
  font-size: 1.1vw;
  padding: 0.4rem 0.5rem;
  transition: 0.4s ease;
}
nav .nav-container-right-create-logo a i:hover {
  background-color: var(--llwhite);
  color: var(--black);
}
nav .nav-container-right-create-logo .create-room-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
nav .nav-container-right-create-logo .create-room-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
nav .nav-container-right-create-logo:hover .create-room-text {
  visibility: visible;
  opacity: 1;
}
nav .nav-container-right-notification-logo {
  border: 1px solid var(--llwhite);
  border-radius: 4px;
}
nav .nav-container-right-notification-logo a i {
  color: var(--llwhite);
  font-size: 1.1vw;
  padding: 5px 8px;
  transition: 0.4s ease;
}
nav .nav-container-right-notification-logo a i:hover {
  background-color: var(--llwhite);
  color: var(--black);
}
nav .nav-container-right-account-logo a img {
  height: 35px;
  width: 35px;
  color: var(--llwhite);
}

aside .sidebar {
  grid-area: sidebar;
  top: 56.8px;
  position: fixed;
  align-self: start;
  height: 100%;
  width: 58px;
  background-color: var(--navdark);
  transition: all 0.3s ease;
  overflow: hidden;
  justify-content: center;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
aside .sidebar.active {
  width: 170px;
}
aside .logo_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;
}
aside .logo i {
  font-size: 1.3rem;
  color: var(--llwhite);
  cursor: pointer;
}
aside .logo_name {
  font-size: 22px;
  color: var(--llwhite);
  font-weight: 400;
  margin-left: 25px;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
aside .sidebar.active .logo_name {
  opacity: 1;
}
aside .nav_list-top {
  margin-top: 20px;
  list-style: none;
  position: relative;
}
aside .nav_list-top li {
  position: relative;
}
aside .nav_list-top a {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--llwhite);
  font-size: 18px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  cursor: pointer;
}
aside .nav_list-top a:hover {
  background: var(--llwhite);
  color: var(--black);
}
aside .nav_list-top i {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 40px;
  align-items: center;
}
aside .nav-list-bottom {
  list-style: none;
  position: relative;
  margin-bottom: 80px;
}
aside .nav-list-bottom li {
  position: relative;
}
aside .nav-list-bottom a {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--llwhite);
  font-size: 18px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  cursor: pointer;
}
aside .nav-list-bottom a:hover {
  background: var(--llwhite);
  color: var(--black);
}
aside .nav-list-bottom i {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 40px;
  align-items: center;
}
aside .link_name {
  opacity: 0;
  transition: opacity 0.3s ease;
}
aside .sidebar.active .link_name {
  opacity: 1;
}
aside .main_content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  width: 100%;
}
aside .sidebar.active ~ .main_content {
  margin-left: 240px;
}
@media (max-width: --desktop) {
  aside .sidebar {
    width: 0;
  }
  aside .sidebar.active {
    width: 200px;
  }
  aside .main_content {
    margin-left: 0;
  }
  aside .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}
@media (max-width: --mobile) {
  aside .sidebar {
    width: 0;
  }
  aside .sidebar.active {
    width: 200px;
  }
  aside .main_content {
    margin-left: 0;
  }
  aside .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}

main {
  grid-area: main;
  flex: 1;
}

footer {
  grid-area: footer;
  font-family: sans-serif;
  font-size: 0.95vw;
  background-color: var(--navdark);
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 0%;
  border-top: 1px solid var(--border);
}
footer .foot-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
footer .foot-left .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: 100px;
}
footer .foot-left .logo img {
  height: 42px;
  width: 40px;
}
footer .foot-left .logo p {
  font-size: 1.5vw;
}
footer .foot-left .copyrights {
  display: flex;
  flex-direction: row;
  color: var(--footer-white);
  margin-left: 100px;
}
footer .foot-left .copyrights p .vorex {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
footer .foot-left .copyrights p a {
  text-decoration: none;
  color: var(--footer-white);
  font-size: 1vw;
}
footer .foot-left .copyrights p a:hover {
  text-decoration: underline;
}
footer .foot-left .devcontact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--footer-white);
  margin-left: 100px;
}
footer .foot-left .devcontact [class^=c-] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
footer .foot-left .devcontact [class^=c-] a {
  text-decoration: none;
  color: var(--footer-white);
  font-size: 1vw;
}
footer .foot-left .devcontact [class^=c-] a:hover {
  text-decoration: underline;
}
footer .foot-right {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: 15%;
}
footer .foot-right [class^=r-] {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .foot-right [class^=r-] p {
  margin-bottom: 5px;
  font-size: 1vw;
  color: var(--footer-white);
}
footer .foot-right [class^=r-] a {
  text-decoration: none;
  color: var(--footer-lwhite);
  font-size: 1vw;
}
footer .foot-right [class^=r-] a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  nav {
    position: relative;
  }
  nav .nav-container .nav-container-right .search-container {
    padding: 0.5rem 0.5rem;
  }
  nav .nav-container .nav-container-right .search-container i {
    font-size: 12px;
  }
  nav .nav-container .nav-container-right .nav-container-right-notification-logo a,
  nav .nav-container .nav-container-right .nav-container-right-notification-logo i {
    font-size: 15px;
  }
  nav .nav-container .nav-container-right .nav-container-right-create-logo a,
  nav .nav-container .nav-container-right .nav-container-right-create-logo i {
    font-size: 15px;
  }
  .nav-container-right-login-btn a button,
  .nav-container-right-signup-btn a button {
    display: none;
  }
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main " "footer ";
  }
  aside .sidebar {
    display: none;
    position: absolute;
    top: 56.8px;
    left: 0;
    height: calc(100% - 56.8px);
    height: 100vh;
    width: 200px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
  }
  .sidebar.visible {
    display: block;
    transform: translateX(0);
  }
  footer {
    flex-direction: column;
  }
  footer .foot-left {
    width: 100%;
    gap: 15px;
  }
  footer .foot-left .logo {
    margin-left: 8%;
  }
  footer .foot-left .logo p {
    font-size: 23px;
  }
  footer .foot-left .devcontact {
    gap: 20px;
  }
  footer .foot-left .copyrights,
  footer .foot-left .devcontact {
    margin-left: 8%;
  }
  footer .foot-left .copyrights p,
  footer .foot-left .devcontact p {
    font-size: 3vw;
  }
  footer .foot-left .copyrights p a,
  footer .foot-left .devcontact p a {
    font-size: 3vw;
  }
  footer .foot-left .copyrights [class^=c-],
  footer .foot-left .devcontact [class^=c-] {
    font-size: 3vw;
  }
  footer .foot-left .copyrights [class^=c-] a,
  footer .foot-left .devcontact [class^=c-] a {
    font-size: 3vw;
  }
  footer .foot-right {
    width: 100%;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
  }
  footer .foot-right [class^=r-] p {
    font-size: 3vw;
  }
  footer .foot-right [class^=r-] a {
    font-size: 3vw;
  }
  .nav1 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */