:root {
  --bodydark: #151b23;
  --navdark: #0d1117;
  --white: #fff;
  --black: black;
  --bodylight: #ececec;
  --text: #ececec;
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --mobile: 576px;
}
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html,
body {
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--bodydark);
  color: var(--white);
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text);
  background-color: var(--navdark);
  padding: 10px 20px;
  z-index: 50;
}
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.create-logo a img,
.notification-logo a img {
  height: 28px;
  width: 28px;
}

.account-logo a img {
  height: 35px;
  width: 34px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 5.5px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8.5px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8.5px) rotate(45deg);
}

.nav-main-links ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}

.search-input-container {
  display: flex;
  border: 1px solid var(--text);
  padding: 2px 0 2px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.search-input-container input {
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none !important;
  color: var(--text);
}
.search-input-container input::placeholder {
  color: var(--text);
}
.search-input-container a i {
  color: var(--text);
  border: none;
}
.login-btn,
.signup-btn {
  border: 1px solid var(--text);
  border-radius: 4px;
}
.login-btn a button,
.signup-btn a button {
  background-color: transparent;
  color: var(--text);
  border: none;
  transition: 0.5s ease;
}

.signup-btn a button:hover,
.login-btn a button:hover {
  background-color: var(--text);
  color: var(--black);
  border: none;
}

main {
  width: 100%;
  height: 92%;
  margin-top: 60px;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 58px;
  background-color: var(--navdark);
  transition: all 0.3s ease;
  overflow: hidden;
  align-items: center;
  z-index: 10;
}

.sidebar.active {
  width: 170px;
}

.logo_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;
}

.logo i {
  font-size: 1.3rem;
  color: var(--bodylight);
  cursor: pointer;
}

.logo_name {
  font-size: 22px;
  color: var(--bodylight);
  font-weight: 400;
  margin-left: 25px;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: "Silkscreen", sans-serif;
}

.sidebar.active .logo_name {
  opacity: 1;
}

.nav_list {
  margin-top: 20px;
  list-style: none;
  position: relative;
}

.nav_list li {
  position: relative;
}

.nav_list a {
  display: flex;
  align-items: center;
  color: var(--bodylight);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav_list a:hover {
  background: var(--white);
  color: var(--black);
}

.nav_list i {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 40px;
  align-items: center;
}

.link_name {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.active .link_name {
  opacity: 1;
}

.main_content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.sidebar.active ~ .main_content {
  margin-left: 240px;
}

@media (max-width: --desktop) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 200px;
  }
  .main_content {
    margin-left: 0;
  }
  .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}
@media (max-width: --mobile) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 200px;
  }
  .main_content {
    margin-left: 0;
  }
  .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}

/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bodydark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5 ease;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: var(--navdark);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
