:root {
  --bodydark: #151b23;
  --navdark: #0d1117;
  --white: #fff;
  --black: black;
  --bodylight: #ececec;
  --text: #cecece;
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --mobile: 576px;
  --border: #4e4e4eb9;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--bodydark);
  color: var(--white);
  width: 100%;
  display: grid;
  grid-template-rows: 58.6px 1fr auto;
  grid-template-columns: 58px 1fr;
  grid-template-areas: "nav nav" "sidebar main " "sidebar footer ";
}

nav {
  grid-area: nav;
  top: 0;
  position: sticky;
  display: flex;
  z-index: 99999;
  width: 100%;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  background-color: var(--navdark);
  border-bottom: 1px solid var(--border);
}
nav .nav-container-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
nav .nav-container-left .hamburger {
  display: inline-block;
  cursor: pointer;
}
nav .nav-container-left .bar1,
nav .nav-container-left .bar2,
nav .nav-container-left .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 5.5px 0;
  transition: 0.4s;
}
nav .nav-container-left .change .bar1 {
  transform: translate(0, 8.5px) rotate(-45deg);
}
nav .nav-container-left .change .bar2 {
  opacity: 0;
}
nav .nav-container-left .change .bar3 {
  transform: translate(0, -8.5px) rotate(45deg);
}
nav .nav-container-left .nav-links {
  display: flex;
  align-items: center;
}
nav .nav-container-left .nav-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}
nav .nav-container-left .nav-links .nav1 {
  padding-left: 10px;
}
nav .nav-container-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
nav .nav-container-right .search-container {
  border: 1px solid var(--text);
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  transition: 0.5s ease;
}
nav .nav-container-right .search-container i {
  color: var(--text);
}
nav .nav-container-right .search-container:hover {
  background-color: white;
}
nav .nav-container-right .search-container:hover i {
  color: black;
}
nav .nav-container-right [class^=nav-container-right-] {
  display: flex;
  flex-direction: row;
}
nav .nav-container-right-login-btn a button {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 4px;
  transition: 0.7s ease;
  padding: 5px 8px;
}
nav .nav-container-right-login-btn a button:hover {
  background-color: var(--text);
  color: var(--black);
}
nav .nav-container-right-signup-btn a button {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 4px;
  transition: 0.7s ease;
  padding: 5px 8px;
}
nav .nav-container-right-signup-btn a button:hover {
  background-color: var(--text);
  color: var(--black);
}
nav .nav-container-right-create-logo {
  border: 1px solid var(--text);
  border-radius: 4px;
}
nav .nav-container-right-create-logo a i {
  color: var(--text);
  font-size: 20px;
  padding: 5px 8px;
  transition: 0.7s ease;
}
nav .nav-container-right-create-logo a i:hover {
  background-color: var(--text);
  color: var(--black);
}
nav .nav-container-right-create-logo .create-room-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
nav .nav-container-right-create-logo .create-room-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
nav .nav-container-right-create-logo:hover .create-room-text {
  visibility: visible;
  opacity: 1;
}
nav .nav-container-right-notification-logo {
  border: 1px solid var(--text);
  border-radius: 4px;
}
nav .nav-container-right-notification-logo a i {
  color: var(--text);
  font-size: 20px;
  padding: 5px 8px;
  transition: 0.7s ease;
}
nav .nav-container-right-notification-logo a i:hover {
  background-color: var(--text);
  color: var(--black);
}
nav .nav-container-right-account-logo a img {
  height: 35px;
  width: 35px;
}

aside .sidebar {
  grid-area: sidebar;
  top: 56.8px;
  position: fixed;
  align-self: start;
  height: 100%;
  width: 58px;
  background-color: var(--navdark);
  transition: all 0.3s ease;
  overflow: hidden;
  justify-content: center;
  z-index: 50;
}
aside .sidebar.active {
  width: 170px;
}
aside .logo_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;
}
aside .logo i {
  font-size: 1.3rem;
  color: var(--bodylight);
  cursor: pointer;
}
aside .logo_name {
  font-size: 22px;
  color: var(--bodylight);
  font-weight: 400;
  margin-left: 25px;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: "Silkscreen", sans-serif;
}
aside .sidebar.active .logo_name {
  opacity: 1;
}
aside .nav_list {
  margin-top: 20px;
  list-style: none;
  position: relative;
}
aside .nav_list li {
  position: relative;
}
aside .nav_list a {
  display: flex;
  align-items: center;
  color: var(--bodylight);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}
aside .nav_list a:hover {
  background: var(--white);
  color: var(--black);
}
aside .nav_list i {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 40px;
  align-items: center;
}
aside .link_name {
  opacity: 0;
  transition: opacity 0.3s ease;
}
aside .sidebar.active .link_name {
  opacity: 1;
}
aside .main_content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  width: 100%;
}
aside .sidebar.active ~ .main_content {
  margin-left: 240px;
}
@media (max-width: --desktop) {
  aside .sidebar {
    width: 0;
  }
  aside .sidebar.active {
    width: 200px;
  }
  aside .main_content {
    margin-left: 0;
  }
  aside .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}
@media (max-width: --mobile) {
  aside .sidebar {
    width: 0;
  }
  aside .sidebar.active {
    width: 200px;
  }
  aside .main_content {
    margin-left: 0;
  }
  aside .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  font-family: sans-serif;
  font-size: 0.95vw;
  background-color: var(--navdark);
  z-index: 100;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
footer .footer-container [class^=footer-column-] {
  width: 33.3333333333%;
}
footer .footer-container [class^=footer-column-] p {
  font-size: 1.3vw;
}
footer .footer-container .footer-column-2,
footer .footer-container .footer-column-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-column-2 ul li a,
footer .footer-container .footer-column-3 ul li a {
  text-decoration: none;
  color: var(--text);
}
footer .footer-bottom {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 1vw;
}

@media (max-width: 576px) {
  .nav-container-right-login-btn a button,
  .nav-container-right-signup-btn a button {
    display: none;
  }
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main " "footer ";
  }
  .sidebar {
    display: none;
    position: fixed;
    top: 56.8px;
    left: 0;
    height: calc(100% - 56.8px);
    height: 100%;
    width: 200px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
  }
  .sidebar.visible {
    display: block;
    transform: translateX(0);
  }
  footer .footer-container [class^=footer-column-] p {
    font-size: 2.5vw;
  }
  footer .footer-container [class^=footer-column-] small,
  footer .footer-container [class^=footer-column-] a {
    font-size: 2vw;
  }
  footer .footer-bottom {
    font-size: 2.5vw;
  }
  .nav1 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */