.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}
.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}
.orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bodydark: #151b23;
  --navdark: #0d1117;
  --white: #fff;
  --black: black;
  --bodylight: #ececec;
  --text: #cecece;
  --desktop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --mobile: 576px;
  --border: #4e4e4eb9;
  --room-bottom: #2a2e38;
}
* {
  margin: 0;
  padding: 0;
}
.vorex {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
ul,
li {
  margin: 0;
  padding: 0;
}
html {
  ::-webkit-scrollbar {
    display: none;
  }
}
p {
  all: unset;
}

// #tooltip {
//   .tooltiptext {
//     font-family: "Open Sans", serif;
//     visibility: hidden;
//     background-color: var(--room-bottom);
//     color: #fff;
//     text-align: center;
//     border-radius: 6px;
//     padding: 10px 10px;
//     font-size: 10px;
//     position: absolute;
//     z-index: 1;
//   }
// }
// #tooltip:hover {
//   .tooltiptext {
//     visibility: visible;
//     margin-top: 30px;
//     margin-left: -40px;
//   }
// }
// .tooltiptext {
//   font-family: "Open Sans", serif;
// }

body {
  min-height: 100vh;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--bodydark);
  color: var(--white);
  width: 100%;
  display: grid;
  overflow: auto;
  grid-template-rows: 58.6px 2fr auto;
  grid-template-columns: 58px 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar main "
    "sidebar footer ";
}
nav {
  grid-area: nav;
  top: 0;
  position: sticky;
  display: flex;
  z-index: 99999;
  width: 100%;
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    background-color: var(--navdark);
    border-bottom: 1px solid var(--border);

    &-left {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .hamburger {
        display: inline-block;
        cursor: pointer;
      }

      .bar1,
      .bar2,
      .bar3 {
        width: 25px;
        height: 3px;
        background-color: var(--text);
        margin: 5.5px 0;
        transition: 0.4s;
      }

      .change .bar1 {
        transform: translate(0, 8.5px) rotate(-45deg);
      }

      .change .bar2 {
        opacity: 0;
      }

      .change .bar3 {
        transform: translate(0, -8.5px) rotate(45deg);
      }

      .nav-links {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: var(--text);
          font-size: 1.5rem;
        }

        .nav1 {
          padding-left: 10px;
        }
      }
    }
    &-center {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .search-container {
        border: 1px solid var(--text);
        padding: 5px 8px 5px 8px;
        border-radius: 4px;
        transition: 0.5s ease;

        i {
          color: var(--text);
        }
      }
      .search-container:hover {
        background-color: white;
        i {
          color: black;
        }
      }

      [class^="nav-container-right-"] {
        display: flex;
        flex-direction: row;
      }
      &-login-btn {
        a button {
          color: var(--white);
          background-color: transparent;
          border: 1px solid var(--text);
          border-radius: 4px;
          transition: 0.7s ease;
          padding: 5px 8px;
        }
        a button:hover {
          background-color: var(--text);
          color: var(--black);
        }
      }

      &-signup-btn {
        a button {
          color: var(--white);
          background-color: transparent;
          border: 1px solid var(--text);
          border-radius: 4px;
          transition: 0.7s ease;
          padding: 5px 8px;
        }
        a button:hover {
          background-color: var(--text);
          color: var(--black);
        }
      }

      &-create-logo {
        border: 1px solid var(--text);
        border-radius: 4px;
        a i {
          color: var(--text);
          font-size: 20px;
          padding: 5px 8px;
          transition: 0.7s ease;
        }
        a i:hover {
          background-color: var(--text);
          color: var(--black);
        }
        .create-room-text {
          visibility: hidden;
          width: 120px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .create-room-text::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
      }
      &-create-logo:hover .create-room-text {
        visibility: visible;
        opacity: 1;
      }
      &-notification-logo {
        border: 1px solid var(--text);
        border-radius: 4px;
        a i {
          color: var(--text);
          font-size: 20px;
          padding: 5px 8px;
          transition: 0.7s ease;
        }
        a i:hover {
          background-color: var(--text);
          color: var(--black);
        }
      }

      &-account-logo a img {
        height: 35px;
        width: 35px;
      }
    }
  }
}

aside {
  .sidebar {
    grid-area: sidebar;
    top: 56.8px;
    position: fixed;
    align-self: start;
    height: 100%;
    width: 58px;
    background-color: var(--navdark);
    transition: all 0.3s ease;
    overflow: hidden;
    justify-content: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar.active {
    width: 170px;
  }

  .logo_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
  }

  .logo i {
    font-size: 1.3rem;
    color: var(--bodylight);
    cursor: pointer;
  }

  .logo_name {
    font-size: 22px;
    color: var(--bodylight);
    font-weight: 400;
    margin-left: 25px;
    gap: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .sidebar.active .logo_name {
    opacity: 1;
  }

  .nav_list-top {
    margin-top: 20px;
    list-style: none;
    position: relative;
  }

  .nav_list-top li {
    position: relative;
  }

  .nav_list-top a {
    all: unset;
    display: flex;
    align-items: center;
    color: var(--bodylight);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .nav_list-top a:hover {
    background: var(--white);
    color: var(--black);
  }

  .nav_list-top i {
    font-size: 1rem;
    padding: 0 10px;
    min-width: 40px;
    align-items: center;
  }
  .nav-list-bottom {
    list-style: none;
    position: relative;
    margin-bottom: 80px;
  }

  .nav-list-bottom li {
    position: relative;
  }

  .nav-list-bottom a {
    all: unset;
    display: flex;
    align-items: center;
    color: var(--bodylight);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .nav-list-bottom a:hover {
    background: var(--white);
    color: var(--black);
  }

  .nav-list-bottom i {
    font-size: 1rem;
    padding: 0 10px;
    min-width: 40px;
    align-items: center;
  }

  .link_name {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .sidebar.active .link_name {
    opacity: 1;
  }

  .main_content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    width: 100%;
  }

  .sidebar.active ~ .main_content {
    margin-left: 240px;
  }

  @media (max-width: --desktop) {
    .sidebar {
      width: 0;
    }
    .sidebar.active {
      width: 200px;
    }
    .main_content {
      margin-left: 0;
    }
    .sidebar.active ~ .main_content {
      margin-left: 200px;
    }
  }
  @media (max-width: --mobile) {
    .sidebar {
      width: 0;
    }
    .sidebar.active {
      width: 200px;
    }
    .main_content {
      margin-left: 0;
    }
    .sidebar.active ~ .main_content {
      margin-left: 200px;
    }
  }
}

main {
  grid-area: main;
  flex: 1;
}

footer {
  grid-area: footer;
  font-family: sans-serif;
  font-size: 0.95vw;
  background-color: var(--navdark);
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 0%;
  // border: 1px solid white;
  border-top: 1px solid var(--border);
  .foot-left {
    width: 40%;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      margin-left: 100px;
      img {
        height: 42px;
        width: 40px;
      }
      p {
        font-size: 1.5vw;
      }
    }
    .copyrights {
      display: flex;
      flex-direction: row;
      color: var(--lwhite);
      margin-left: 100px;

      p {
        .vorex {
          font-family: "Orbitron", serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
        }
        a {
          text-decoration: none;
          color: var(--lwhite);
          font-size: 1vw;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .devcontact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--lwhite);
      margin-left: 100px;
      [class^="c-"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        a {
          text-decoration: none;
          color: var(--lwhite);
          font-size: 1vw;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .foot-right {
    // border: 1px solid white;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 15%;

    [class^="r-"] {
      display: flex;
      flex-direction: column;
      gap: 15px;
      p {
        margin-bottom: 5px;
        font-size: 1vw;
      }
      a {
        text-decoration: none;
        color: var(--lwhite);
        font-size: 1vw;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 576px) {
  .nav-container-right-login-btn a button,
  .nav-container-right-signup-btn a button {
    display: none;
  }
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main "
      "footer ";
  }
  .sidebar {
    display: none;
    position: fixed;
    top: 56.8px;
    left: 0;
    height: calc(100% - 56.8px);
    height: 100%;
    width: 200px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
  }

  .sidebar.visible {
    display: block;
    transform: translateX(0);
  }
  footer {
    flex-direction: column;

    .foot-left {
      width: 100%;
      gap: 10px;
      .logo {
        margin-left: 8%;
        p {
          font-size: 23px;
        }
      }

      .copyrights,
      .devcontact {
        margin-left: 8%;
        p {
          font-size: 3vw;

          a {
            font-size: 3vw;
          }
        }
        [class^="c-"] {
          font-size: 3vw;
          a {
            font-size: 3vw;
          }
        }
      }
    }
    .foot-right {
      width: 100%;
      justify-content: center;
      gap: 10%;
      margin-top: 10%;
      [class^="r-"] {
        p {
          font-size: 3vw;
        }
        a {
          font-size: 3vw;
        }
      }
    }
  }

  .nav1 {
    display: none;
  }
}
