:root {
  --roomborder: #ececec;
  --roomtext: white;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #2e2e3f;
}

.main-body {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 270px;
  grid-template-areas:
    "topic activity"
    "contents activity";
}

.topic {
  grid-area: topic;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  a {
    text-decoration: none;
    color: var(--roomtext);
  }
}

.content {
  grid-area: contents;
  border: 1px solid blue;
  padding: 40px;

  .card {
    background-color: var(--roomdark);
    color: var(--roomtext);
    height: 100%;

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 20%;
      border-bottom: 1px solid white;
    }
    &-mid {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 80%;
      border-bottom: 1px solid white;
    }
    &-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 20%;
    }
  }
}
.activity {
  top: 56.8;
  right: 0;
  position: fixed;
  height: 100vh;
  width: 270px;
  align-self: start;
  background-color: var(--roomdark);
}
