@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --roomborder: #ececec;
  --roomtext: #d1d1d1;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #4e4e4eb9;
  --white: white;
  --room-bottom: #2a2e38;
  --white: #fff;
  --black: #000;
  --bodydark: #151b23;
  --navdark: #0d1117;
  --lightBulue: rgb(34, 237, 255);
  --links: rgb(34, 237, 255);
}
p {
  margin: 0;
  padding: 0;
}

.main-body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 20%;
  grid-template-areas:
    "topic activity"
    "create-room-btn activity"
    "contents activity";
}

.topic {
  background-color: #2a2e38;
  overflow-x: auto;
  white-space: nowrap;

  a {
    display: inline-block;
    color: var(--roomtext);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  a:hover {
    background-color: #1d2329;
  }
}

.create-room-btn {
  grid-area: create-room-btn;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 3rem 0 3rem;
  gap: 1rem;
  // border: 1px solid white;
  button {
    padding: 10px 20px;
    background-color: var(--roomdark);
    border: 1px solid var(--roomdark);
    color: var(--white);
    z-index: 1;
    border-radius: 5px;
    font-size: 1vw;
  }
}
.content {
  grid-area: contents;
  padding: 2rem 3rem;

  .card {
    background-color: var(--roomdark);
    color: var(--roomtext);
    height: 100%;
    border-radius: 8px;

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 25px 20px 25px 20px;
      height: 20%;
      border-bottom: 0.1px solid var(--borderbottom);
      img {
        height: 35px;
        width: 35px;
        border-radius: 20px;
        object-fit: cover;
      }
      a {
        margin-left: 5px;
        text-decoration: none;
        color: var(--roomtext);
        transition: 0.4s ease;
      }
      a:hover {
        color: var(--white);
        text-decoration: underline;
      }
      p {
        font-size: 0.9rem;
      }
    }
    &-mid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid var(--borderbottom);
      height: 60%;
      &-left {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          margin-left: 20px;
          text-decoration: none;
          color: var(--roomtext);
        }
        a:hover {
          color: var(--white);
          text-decoration: underline;
        }
        small {
          margin: 15px 0 0 20px;
          font-size: 12px;
        }
      }
      &-right {
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 12%;
        justify-content: center;
        gap: 10px;

        a {
          margin-left: 5px;
          margin-top: 25px;
          text-decoration: none;
          color: var(--roomtext);
          transition: 0.4s ease;
        }
        &-gobal {
          margin-top: 25px;
          color: var(--roomtext);
          i {
            margin-left: 5px;
          }
        }
      }
    }
    &-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 30px;
      height: 20%;
      background-color: var(--room-bottom);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      a {
        text-decoration: none;
        color: var(--roomtext);
      }
      a:hover {
        text-decoration: underline;
        color: #3758fd;
      }
      .card-bottom-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        button {
          padding: 5px 20px;
          background-color: var(--roomdark);
          border: 1px solid var(--roomdark);
          color: var(--white);
          border-radius: 20px;
          transition: 0.6s ease;
        }
        button:hover {
          background-color: var(--white);
          border: 1px solid var(--white);
          color: var(--roomdark);
          a {
            color: var(--black);
            text-decoration: none;
          }
        }
      }
    }
  }
}
.activity {
  grid-area: activity;

  position: sticky;
  height: 100%;
  background-color: var(--roomdark);
}

@media (max-width: 576px) {
  .main-body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "topic"
      "create-room-btn"
      "contents";
  }
  .create-room-btn {
    padding: 1rem 1rem 0 1.5rem;
    button {
      padding: 10px 10px;
      font-size: 12px;
    }
  }
  .content {
    padding: 20px;

    .card-top {
      padding: 15px 10px 15px 10px;
      p {
        font-size: 0.7rem;
      }
    }
    .card-mid {
      &-right {
        margin-right: 30px;
      }
    }
  }
}
