:root {
  --roomborder: #ececec;
  --roomtext: white;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #2e2e3f;
}

.container {
  background-color: #161b22;
  padding: 20px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.card {
  border: 1px solid #2e2e3f;
  border-radius: 8px;
  background-color: var(--roomdark);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: var(--white);
}

.card-header {
  display: flex;
  align-items: center;
  background-color: var();
  padding: 10px;
  border-bottom: 1px solid var(--borderbottom);
}

.card-header .rounded-circle {
  border: 1px solid var(--roomborder);
}

.card-header .username {
  font-weight: bold;
  color: var(--roomtext);
  margin-bottom: 2px;
  margin-left: 3px;
}

.card-header p {
  color: var(--roomtext);
}

.card-body {
  padding: 15px;
}

.card-body .card-title {
  font-size: 1.25rem;
  color: var(--white);
}

.card-body .card-text {
  font-size: 0.9rem;
  color: #cccccc;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2e38;
  padding: 10px;
  border-top: 1px solid #2e2e3f;
}

.card-footer .members {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
}

.card-footer .badge {
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 12px;
}

.your-rooms-container {
  position: absolute;
  background: #0d1117;
  border: none;
  width: 250px;
  height: 100vh;
  right: 0;
  top: 65px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.your-rooms-container p {
  color: white;
  background-color: #0d1117;
  padding: 10px 5px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 450;
}
