.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  overflow: auto;
  padding: 40px 0;

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: var(--navdark);
    width: 25%;

    h3 {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
    input {
      width: 100%;
      background-color: var(--bodydark);
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      border: 1px solid rgb(130, 129, 129);
    }
    textarea {
      width: 100%;
      height: 70px;
      max-height: 120px;
      background-color: var(--bodydark);
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      border: 1px solid rgb(130, 129, 129);
    }

    .room-title {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;
    }
    .room-description {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;
    }
    .room-tag {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;
      select {
        background-color: var(--bodydark);
        border: 1px solid rgb(130, 129, 129);
        border-radius: 5px;
        padding: 10px;
        color: white;
        ::webkit-scrollbar {
          background-color: var(--bodydark);
          border: 1px solid rgb(130, 129, 129);
          border-radius: 5px;
          width: 10px;
        }
      }
    }
    .room-private {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 10px;

      input {
        width: 10%;
        margin: 0;
      }
    }
  }
}
