:root {
  --bottom: #151b23;
  --top: #0d1117;
  --accept-btn-background: #2d08fd;
  --decline-btn-background: red;
  --black: black;
  --white: white;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-1 {
    border: 2px solid var(--top);
    width: 30%;
    border-radius: 4px;
    box-shadow: 20px 20px 20px var(--black);

    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--top);
      width: 100%;
      padding: 10px;
    }
    .bottom {
      background-color: var(--bottom);
      padding: 20px;
      font-size: 20px;
      .name {
        text-decoration: none;
        color: var(--white);
      }
      .name:hover {
        text-decoration: underline;
      }

      .accept {
        padding: 3px 7px;
        font-size: 15px;
        background-color: var(--accept-btn-background);
        text-decoration: none;
        color: var(--white);
        border-radius: 8px;
      }
      .decline {
        padding: 3px 7px;
        font-size: 15px;
        background-color: var(--decline-btn-background);
        text-decoration: none;
        color: var(--white);
        border-radius: 8px;
      }
    }
  }
}
