:root {
  --hover: #151b23;
  --roombg: #0d1117;
  --text: rgba(236, 236, 236, 0.903);
  --border: #4e4e4eb9;
  --members: #21252e;
  --lwhite: rgb(189, 188, 188);
  --scroll-hover: rgb(160, 160, 160);
}
p {
  margin: 0;
  padding: 0;
}

.rooms {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.rooms {
  font-family: sans-serif;
  .tab {
    grid-area: tabs;
    overflow: hidden;
    background-color: var(--roombg);
    // border-bottom: 1px solid var(--border);
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--text);
    font-size: 0.9vw;
  }

  .tab button:hover {
    background-color: var(--hover);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tab button.active {
    background-color: var(--hover);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tablinks i {
    padding-right: 10px;
  }
  #Info {
    min-height: 100vh;
    padding: 20px 30px;
    border-top: none;
    background-color: var(--hover);
    .tabcontent-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      gap: 70px;
      padding: 40px 40px;
      width: 100%;
      height: 100%;
      .tabcontent-top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        // border: 1px solid white;
        gap: 50px;
        i {
          font-size: 15vw;
        }
        .tabcontent-top-left-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          p {
            font-family: "VT323", monospace;
            font-size: 4vw;
          }
          small {
            font-size: 1vw;
          }
        }
      }

      .tabcontent-top-right {
        margin-right: 80px;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        // border: 1px solid #fff;
        gap: 10px;
        margin-top: 0;
        .tabcontent-top-right-1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: 1vw;
          img {
            height: 35px;
            width: 35px;
            border-radius: 20px;
            object-fit: cover;
          }
          a {
            text-decoration: none;
            color: var(--text);
            font-size: 1vw;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .rooms {
    #Info {
      .tabcontent-top {
        gap: 10px;
        padding: 10px 0 20px 10px;
        // border: 1px solid white;
        .tabcontent-top-left {
          // border: 1px solid white;
          gap: 10%;
          width: 70%;
          i {
            font-size: 23vw;
          }
          .tabcontent-top-left-1 {
            gap: 5px;
            p {
              font-size: 3em;
            }
            small {
              font-size: 0.8em;
            }
          }
        }
        .tabcontent-top-right {
          font-size: 0.8em;
          width: 30%;
          margin-top: 9%;
          gap: 5px;
          font-size: 0.7em;
          // border: 1px solid white;
          margin-right: 0;
          .tabcontent-top-right-1 {
            margin-top: 5px;
            gap: 5px;
            img {
              height: 25px;
              width: 25px;
            }
            a {
              font-size: 13px;
            }
          }
        }
      }
    }

    .tab button {
      font-size: 16px;

      .btn-txt {
        display: none;
      }
    }
    .tablinks i {
      padding-right: 0;
      padding: 0.5rem;
    }
  }
}
@media (max-width: 576px) {
  .rooms {
    #Info {
      padding: 5px 10px;
      // border: 1px solid white;
      .tabcontent-top {
        gap: 10px;
        padding: 10px 0 10px 10px;
        // border: 1px solid white;
        .tabcontent-top-left {
          // border: 1px solid white;
          gap: 10%;
          width: 70%;
          i {
            font-size: 23vw;
          }
          .tabcontent-top-left-1 {
            gap: 0;
            p {
              font-size: 3em;
            }
            small {
              font-size: 0.6em;
            }
          }
        }
        .tabcontent-top-right {
          font-size: 0.8em;
          width: 30%;
          margin-top: 9%;
          gap: 5px;
          font-size: 0.6em;
          // border: 1px solid white;
          margin-right: 0;
          .tabcontent-top-right-1 {
            margin-top: 5px;
            gap: 5px;
            img {
              height: 25px;
              width: 25px;
            }
            a {
              font-size: 10px;
            }
          }
        }
      }
    }

    .tab button {
      font-size: 16px;

      .btn-txt {
        display: none;
      }
    }
    .tablinks i {
      padding-right: 0;
      padding: 0.5rem;
    }
  }
}

.chat-container {
  display: flex;
  width: 100%;
  height: 86vh;
  background: var(--navdark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .create-chat-group {
    position: absolute;
    z-index: 9999;
    display: none;
    flex-direction: column;
    width: 20%;
    height: 25%;
    top: 38%;
    left: 38%;
    background-color: #4b4b4be1;
    padding: 20px;
    border-radius: 8px;
    gap: 18px;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      i {
        cursor: pointer;
      }
      p {
        font-size: 17px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input-g-name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
          height: 35px;
          outline: none;
          border: 1px solid var(--text);
          background-color: transparent;
          border-radius: 5px;
          color: var(--white);
          padding: 2px 5px;
        }
        label {
          font-size: 15px;
        }
      }
    }
    button {
      height: 35px;
      width: 50%;
      border-radius: 8px;
      border: none;
    }
  }
}
.sidebarc {
  width: 23%;
  background: var(--members);
  border-top-left-radius: 15px;
  color: white;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-buttons button {
  background: var(--navdark);
  border-radius: 10px;
  border: none;
  padding: 7px;
  color: var(--text);
  cursor: pointer;
  margin: 3px;
  font-size: 15px;
}
.chat-list {
  margin-top: 20px;
  overflow: auto;
}
.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #34495e;
  border-radius: 10px;
  margin-top: 10px;

  .name {
    display: block;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  i {
    margin-right: 5px;
  }
}
.chat-item:hover {
  background: #ffffff0e;
}
.chat-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-area {
  width: 77%;
  display: flex;
  flex-direction: column;
  background: var(--hover);
}
.chat-header {
  padding: 15px;
  background: transparent;
  color: white;
  border-bottom: 1px solid var(--border);
}
.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: var(--navdark);
  color: #0d1117;
}
.chat-input {
  display: flex;
  padding: 5px;
  background: var(--navdark);
  border-top: 1px solid var(--border);
}
.chat-input input {
  flex: 1;
  padding: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: var(--text);
  font-size: 18px;
}
.chat-input button {
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 15px;
  i {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .chat-container {
    flex-direction: column;
    height: 85.5vh;
  }

  /* Make Sidebar Full Width on Mobile */
  .sidebarc {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  /* Hide Chat Area Initially */
  .chat-area {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    // position: absolute;

    background: var(--hover);
    z-index: 1000;
  }

  /* Chat Header - Add Back Button */
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat-messages {
    flex: 1;
  }

  .back-btn {
    display: block;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
}

#Materials {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
  gap: 10px;

  .create-folder {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 20%;
    height: 28%;
    top: 35%;
    left: 35%;
    background-color: rgba(57, 57, 57, 0.878);
    border-radius: 10px;
    overflow-y: hidden;

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 10px 20px;
      // border: 1px solid var(--border);
      i {
        cursor: pointer;
      }
    }
    &-bottom form {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      gap: 30px;
      // border: 1px solid var(--border);

      .input-folder-name {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
          height: 40px;
          outline: none;
          background-color: rgba(53, 53, 53, 0.863);
          border: 1px solid var(--text);
          color: var(--text);
          padding: 0 10px;
          border-radius: 5px;
        }
      }
      button {
        width: 35%;
        padding: 2px 5px;
        border-radius: 10px;
      }
    }
  }
}
.delete {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 17%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(57, 57, 57, 0.878);
  gap: 20px;
  transition: transform 0.3s ease-in;
  transform: scale(1.1);

  .bottom {
    display: flex;
    flex-direction: row;
    gap: 15px;
    .cancel-btn {
      padding: 1px 8px;
      border-radius: 5px;
      border: 0.5px solid var(--text);
      color: var(--text);
      font-size: 15px;
      background-color: transparent;
    }
    .delete-btn {
      padding: 3px 10px;
      border-radius: 5px;
      border: 0.5px solid rgb(22, 22, 22);
      font-size: 15px;
      background-color: rgb(22, 22, 22);
      outline: none;
      color: white;
    }
  }
}

.materials-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid var(--border);
  width: 100%;
  padding: 10px;

  &-left {
    // border: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    &-folder {
      padding: 10px;
      background-color: var(--roombg);
      border-radius: 10px;
      cursor: pointer;
    }
    &-code {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      // border: 1px solid var(--border);
      padding: 10px;
      cursor: pointer;
      background-color: var(--roombg);
      border-radius: 10px;
    }
  }
  &-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 1px solid var(--border);
    background-color: var(--roombg);
    border-radius: 10px;
    input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: var(--hover);
      color: var(--text);
      font-size: 16px;
      background-color: transparent;
    }
    i {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
.materials-bottom {
  border: 1px solid var(--border);
  flex: 1;
  min-height: 100vh;
  padding: 1rem;

  .card {
    background-color: var(--roombg);
    color: var(--text);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .card-top {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        font-size: 1.5rem;
        color: var(--primary);
      }

      a {
        text-decoration: none;
        color: var(--text);
        font-weight: bold;
        display: block;
        max-width: 100%;
        min-width: 0;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .card-bottom {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: var(--secondary-text);
      }
      a {
        margin-top: 0.5rem;
        text-decoration: none;
        color: var(--white);
        i {
          font-size: 0.9rem;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  display: none;
}

@media (max-width: 700px) {
}
