:root {
  --hover: #151b23;
  --roombg: #0d1117;
  --text: rgba(236, 236, 236, 0.903);
  --border: #4e4e4eb9;
  --members: #21252e;
  --lwhite: #d3d3d3e8;
  --scroll-hover: rgb(160, 160, 160);
}

p {
  margin: 0;
  padding: 0;
}

.rooms {
  display: flex;
  flex-direction: column;
}

.rooms {
  font-family: sans-serif;
}
.rooms .tab {
  grid-area: tabs;
  overflow: hidden;
  background-color: var(--roombg);
}
.rooms .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: var(--lwhite);
  font-size: 0.9vw;
}
.rooms .tab button:hover {
  background-color: var(--hover);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rooms .tab button.active {
  background-color: var(--hover);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rooms .tablinks i {
  padding-right: 10px;
}
.rooms #Info {
  min-height: 100vh;
  padding: 20px 30px;
  border-top: none;
  background-color: var(--hover);
}
.rooms #Info .tabcontent-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  gap: 70px;
  padding: 40px 40px;
  width: 100%;
  height: 100%;
}
.rooms #Info .tabcontent-top .tabcontent-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.rooms #Info .tabcontent-top .tabcontent-top-left i {
  font-size: 15vw;
  color: var(--lwhite);
}
.rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 p {
  font-family: "VT323", monospace;
  font-size: 4vw;
  color: var(--lwhite);
}
.rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 small {
  font-size: 1vw;
  color: var(--lwhite);
}
.rooms #Info .tabcontent-top .tabcontent-top-right {
  margin-right: 80px;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
}
.rooms #Info .tabcontent-top .tabcontent-top-right p {
  color: var(--lwhite);
}
.rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1vw;
}
.rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 img {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 a {
  text-decoration: none;
  color: var(--lwhite);
  font-size: 1vw;
}
.rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .rooms #Info .tabcontent-top {
    gap: 10px;
    padding: 10px 0 20px 10px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left {
    gap: 10%;
    width: 70%;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left i {
    font-size: 23vw;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 {
    gap: 5px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 p {
    font-size: 3em;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 small {
    font-size: 0.8em;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right {
    font-size: 0.8em;
    width: 30%;
    margin-top: 9%;
    gap: 5px;
    font-size: 0.7em;
    margin-right: 0;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 {
    margin-top: 5px;
    gap: 5px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 img {
    height: 25px;
    width: 25px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 a {
    font-size: 13px;
  }
  .rooms .tab button {
    font-size: 16px;
  }
  .rooms .tab button .btn-txt {
    display: none;
  }
  .rooms .tablinks i {
    padding-right: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 576px) {
  .rooms #Info {
    padding: 5px 10px;
  }
  .rooms #Info .tabcontent-top {
    gap: 10px;
    padding: 10px 0 10px 10px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left {
    gap: 10%;
    width: 70%;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left i {
    font-size: 23vw;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 {
    gap: 0;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 p {
    font-size: 3em;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-left .tabcontent-top-left-1 small {
    font-size: 0.6em;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right {
    font-size: 0.8em;
    width: 30%;
    margin-top: 9%;
    gap: 5px;
    font-size: 0.6em;
    margin-right: 0;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 {
    margin-top: 5px;
    gap: 5px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 img {
    height: 25px;
    width: 25px;
  }
  .rooms #Info .tabcontent-top .tabcontent-top-right .tabcontent-top-right-1 a {
    font-size: 10px;
  }
  .rooms .tab button {
    font-size: 16px;
  }
  .rooms .tab button .btn-txt {
    display: none;
  }
  .rooms .tablinks i {
    padding-right: 0;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .chat-container {
    flex-direction: column;
    height: 85.5vh;
  }
  /* Make Sidebar Full Width on Mobile */
  .sidebarc {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .chat-area {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background: var(--hover);
    z-index: 1000;
  }
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat-messages {
    flex: 1;
  }
  .back-btn {
    display: block;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
}
#Materials {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
  gap: 10px;
}
#Materials .create-folder {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 20%;
  height: 30%;
  top: 35%;
  left: 35%;
  background-color: rgba(57, 57, 57, 0.878);
  border-radius: 10px;
  overflow-y: hidden;
}
#Materials .create-folder-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
}
#Materials .create-folder-top i {
  cursor: pointer;
}
#Materials .create-folder-bottom form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 30px;
}
#Materials .create-folder-bottom form .input-folder-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#Materials .create-folder-bottom form .input-folder-name input {
  height: 40px;
  outline: none;
  background-color: rgba(53, 53, 53, 0.863);
  border: 1px solid var(--text);
  color: var(--text);
  padding: 0 10px;
  border-radius: 5px;
}
#Materials .create-folder-bottom form button {
  width: 35%;
  padding: 2px 5px;
  border-radius: 10px;
}

.delete {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 17%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(57, 57, 57, 0.878);
  gap: 20px;
  transition: transform 0.3s ease-in;
  transform: scale(1.1);
}
.delete .bottom {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.delete .bottom .cancel-btn {
  padding: 1px 8px;
  border-radius: 5px;
  border: 0.5px solid var(--text);
  color: var(--text);
  font-size: 15px;
  background-color: transparent;
}
.delete .bottom .delete-btn {
  padding: 3px 10px;
  border-radius: 5px;
  border: 0.5px solid rgb(22, 22, 22);
  font-size: 15px;
  background-color: rgb(22, 22, 22);
  outline: none;
  color: white;
}

.materials-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.materials-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.materials-top-left-folder {
  padding: 10px;
  background-color: var(--roombg);
  border-radius: 5px;
  cursor: pointer;
  color: var(--lwhite);
  font-size: 1vw;
}
.materials-top-left-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--lwhite);
  padding: 10px;
  cursor: pointer;
  background-color: var(--roombg);
  border-radius: 5px;
}
.materials-top-mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--border);
  background-color: var(--roombg);
  border-radius: 5px;
  width: 20%;
}
.materials-top-mid input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--hover);
  color: var(--text);
  font-size: 16px;
  background-color: transparent;
}
.materials-top-mid i {
  padding: 10px 15px;
  cursor: pointer;
  color: var(--lwhite);
}

.materials-bottom {
  border: 1px solid var(--border);
  flex: 1;
  min-height: 100vh;
  padding: 1rem;
}
.materials-bottom .card {
  background-color: var(--roombg);
  color: var(--lwhite);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.materials-bottom .card .card-top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.materials-bottom .card .card-top i {
  font-size: 1.5rem;
  color: var(--lwhite);
}
.materials-bottom .card .card-top a {
  text-decoration: none;
  color: var(--lwhite);
  font-weight: bold;
  display: block;
  max-width: 100%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.materials-bottom .card .card-top a:hover {
  text-decoration: underline;
}
.materials-bottom .card .card-bottom {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.materials-bottom .card .card-bottom p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--lwhite);
}
.materials-bottom .card .card-bottom a {
  margin-top: 0.5rem;
  text-decoration: none;
}
.materials-bottom .card .card-bottom a i {
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--lwhite);
}

footer {
  display: none;
}

@media (max-width: 700px) {
  #Materials .create-folder {
    width: 55%;
    top: 35%;
    left: 22%;
  }
  .materials-top .materials-top-mid {
    width: 45%;
  }
}
@media (max-width: 576px) {
  #Materials .create-folder {
    width: 75%;
    top: 35%;
    left: 12%;
  }
  .materials-top .materials-top-left {
    gap: 10px;
  }
  .materials-top .materials-top-left .materials-top-left-folder {
    font-size: 12px;
    padding: 10px;
  }
  .materials-top .materials-top-left .materials-top-left-code {
    font-size: 12px;
    padding: 10px;
  }
  .materials-top .materials-top-mid {
    width: auto;
    color: var(--lwhite);
    border: none;
  }
  .materials-top .materials-top-mid input {
    display: none;
  }
  .materials-bottom .custom-col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .materials-bottom .card {
    width: 100%;
  }
}/*# sourceMappingURL=room.css.map */