:root {
  --hover: #151b23;
  --roombg: #0d1117;
  --text: rgba(236, 236, 236, 0.903);
  --border: #4e4e4eb9;
  --members: #2a2e38;
  --lwhite: rgb(189, 188, 188);
  --scroll-hover: rgb(160, 160, 160);
}
p {
  margin: 0;
  padding: 0;
}

.rooms {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.rooms {
  font-family: sans-serif;
  .tab {
    grid-area: tabs;
    overflow: hidden;
    background-color: var(--roombg);
    // border-bottom: 1px solid var(--border);
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--text);
    font-size: 0.9vw;
  }

  .tab button:hover {
    background-color: var(--hover);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tab button.active {
    background-color: var(--hover);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tablinks i {
    padding-right: 10px;
  }
  #Info {
    min-height: 100vh;
    padding: 20px 30px;
    border-top: none;
    background-color: var(--hover);
    .tabcontent-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      gap: 70px;
      padding: 40px 40px;
      width: 100%;
      height: 100%;
      .tabcontent-top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        i {
          font-size: 15vw;
        }
        .tabcontent-top-left-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          p {
            font-family: "VT323", monospace;
            font-size: 4vw;
          }
          small {
            font-size: 1vw;
          }
        }
      }

      .tabcontent-top-right {
        margin-right: 80px;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        // border: 1px solid #fff;
        gap: 10px;
        .tabcontent-top-right-1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          img {
            height: 35px;
            width: 35px;
            border-radius: 20px;
            object-fit: cover;
          }
          a {
            text-decoration: none;
            color: var(--text);
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .rooms {
    .tabcontent {
      padding: 15px 10px;
      &-top {
        padding: 20px 15px;
        &-left {
          gap: 20px;
          &-1 {
            gap: 5px;
            p {
              font-size: 1.6em;
            }
            small {
              font-size: 0.6em;
            }
          }
        }
        &-right {
          margin-right: 20px;
          font-size: 0.8em;
          &-1 {
            margin-top: 5px;
            font-size: 0.8em;
            gap: 5px;
            img {
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }
    .tab button {
      font-size: 0.8em;
      .btn-txt {
        display: none;
      }
    }
  }
}

#Group {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0;
  background-color: var(--roombg);

  .members {
    padding: 15px 0;
    width: 20%;
    // border: 1px solid white;
    background-color: var(--members);
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: 100%;
    .top {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      &-1 {
        padding: 10px 5px 10px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          padding: 5px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      &-2 {
        // border: 1px solid white;
        background-color: var(--hover);
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        border-bottom: 2px solid var(--lwhite);
        input {
          width: 85%;
          height: 35px;
          border: none;
          outline: none;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: var(--hover);
          color: var(--text);
          font-size: 14px;
        }
        i {
          cursor: pointer;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      // border: 1px solid var(--white);
      gap: 5px;
      padding: 10px 10px;
      overflow-y: scroll;
      max-height: 70vh;
      min-height: 70vh;
      &::-webkit-scrollbar {
        display: flex;
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--lwhite);
        border-radius: 10px;
        border: 2px solid var(--members);
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scroll-hover);
      }
      .members-chat {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        // border: 1px solid var(--white);
        padding: 10px;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        .left {
          img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
            flex-shrink: 0;
          }
        }
        .mid {
          display: block;
          max-width: 100%;
          min-width: 0;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .members-chat:hover {
        background-color: rgba(199, 194, 194, 0.115);
        border-radius: 10px;
      }
    }
  }

  .chat-area {
    max-height: 85.5vh;
    width: 80%;
    // border: 1px solid white;
    background-color: var(--hover);
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid var(--border);
      padding: 15px 20px;
      &-left {
        width: 50%;
        // border: 1px solid var(--lwhite);
      }

      &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        // border: 1px solid var(--lwhite);
        width: 50%;
        height: 100%;

        i {
          cursor: pointer;
          margin-right: 30px;
        }
      }
    }
    &-mid {
      flex: 1;
      overflow-y: auto;
      padding: 20px 50px;
    }
    &-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px 0;
      width: 100%;

      &-item {
        width: 93%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--members);
        border-radius: 10px;
        input {
          width: 100%;
          height: 55px;
          border: none;
          outline: none;
          padding: 0 10px;
          color: var(--text);
          font-size: 17px;
          background-color: transparent;
        }
        i {
          cursor: pointer;
          padding: 15px 20px;
        }
      }
    }
  }
}
#Materials {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
  gap: 10px;

  .create-folder {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 20%;
    height: 28%;
    top: 35%;
    left: 35%;
    background-color: rgba(57, 57, 57, 0.878);
    border-radius: 10px;
    overflow-y: hidden;

    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 10px 20px;
      // border: 1px solid var(--border);
      i {
        cursor: pointer;
      }
    }
    &-bottom form {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      gap: 30px;
      // border: 1px solid var(--border);

      .input-folder-name {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
          height: 40px;
          outline: none;
          background-color: rgba(53, 53, 53, 0.863);
          border: 1px solid var(--text);
          color: var(--text);
          padding: 0 10px;
          border-radius: 5px;
        }
      }
      button {
        width: 35%;
        padding: 2px 5px;
        border-radius: 10px;
      }
    }
  }
  .delete {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 17%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(57, 57, 57, 0.878);
    gap: 20px;
    transition: transform 0.3s ease-in;
    transform: scale(1.1);

    .bottom {
      display: flex;
      flex-direction: row;
      gap: 15px;
      .cancel-btn {
        padding: 1px 8px;
        border-radius: 5px;
        border: 0.5px solid var(--text);
        color: var(--text);
        font-size: 15px;
        background-color: transparent;
      }
      .delete-btn {
        padding: 3px 10px;
        border-radius: 5px;
        border: 0.5px solid rgb(22, 22, 22);
        font-size: 15px;
        background-color: rgb(22, 22, 22);
        outline: none;
        color: white;
      }
    }
  }

  .materials-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid var(--border);
    width: 100%;
    padding: 10px;

    &-left {
      // border: 1px solid var(--border);

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      &-folder {
        padding: 10px;
        background-color: var(--roombg);
        border-radius: 10px;
        cursor: pointer;
      }
      &-code {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        // border: 1px solid var(--border);
        padding: 10px;
        cursor: pointer;
        background-color: var(--roombg);
        border-radius: 10px;
      }
    }
    &-mid {
      display: flex;
      flex-direction: row;
      align-items: center;
      // border: 1px solid var(--border);
      background-color: var(--roombg);
      border-radius: 10px;
      input {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--hover);
        color: var(--text);
        font-size: 16px;
        background-color: transparent;
      }
      i {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  .materials-bottom {
    border: 1px solid var(--border);
    flex: 1;
    min-height: 100vh;
    padding: 1rem;

    .card {
      background-color: var(--roombg);
      color: var(--text);
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 210px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .card-top {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {
          font-size: 1.5rem;
          color: var(--primary);
        }

        a {
          text-decoration: none;
          color: var(--text);
          font-weight: bold;
          display: block;
          max-width: 100%;
          min-width: 0;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        a:hover {
          text-decoration: underline;
        }
      }

      .card-bottom {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        p {
          margin-top: 0.5rem;
          font-size: 0.8rem;
          color: var(--secondary-text);
        }
        a {
          margin-top: 0.5rem;
          text-decoration: none;
          color: var(--white);
          i {
            font-size: 0.9rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  display: none;
}
