@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --roomborder: #ececec;
  --roomtext: #d1d1d1;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #4e4e4eb9;
  --white: white;
  --llwhite: #d3d3d3e8;
  --room-bottom: #2a2e38;
  --white: #fff;
  --black: #000;
  --bodydark: #151b23;
  --navdark: #0d1117;
  --lightBulue: rgb(34, 237, 255);
  --links: rgb(34, 237, 255);
}

.main-room {
  min-height: 100vh;
}
.main-room .content {
  grid-area: contents;
  padding: 5rem 3rem;
  font-family: sans-serif;
}
.main-room .content .card {
  background-color: var(--roomdark);
  color: var(--roomtext);
  height: 100%;
  border-radius: 8px;
}
.main-room .content .card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
  height: 20%;
  border-bottom: 0.1px solid var(--borderbottom);
}
.main-room .content .card-top img {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-room .content .card-top a {
  margin-left: 5px;
  text-decoration: none;
  color: var(--llwhite);
  transition: 0.4s ease;
  max-width: 100%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  margin-top: 0.5%;
  margin-left: 1%;
  font-size: 1vw;
}
.main-room .content .card-top a:hover {
  color: var(--white);
  text-decoration: underline;
}
.main-room .content .card-top p {
  font-size: 0.9rem;
  margin-right: 5px;
}
.main-room .content .card-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderbottom);
  height: 60%;
}
.main-room .content .card-mid-left {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-room .content .card-mid-left a {
  margin-left: 2%;
  text-decoration: none;
  color: var(--llwhite);
  font-size: 1.2vw;
  max-width: 70%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3%;
  position: absolute;
  transition: 0.3s ease;
}
.main-room .content .card-mid-left a:hover {
  color: var(--white);
  text-decoration: underline;
}
.main-room .content .card-mid-left small {
  margin: 15px 0 0 2%;
  font-size: 12px;
  max-width: 80%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  margin-top: 3.5%;
  color: var(--llwhite);
}
.main-room .content .card-mid-right {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 12%;
  justify-content: center;
  gap: 10px;
}
.main-room .content .card-mid-right a {
  margin-left: 5px;
  margin-top: 25px;
  text-decoration: none;
  color: var(--llwhite);
  transition: 0.4s ease;
}
.main-room .content .card-mid-right-gobal {
  margin-top: 25px;
  color: var(--llwhite);
}
.main-room .content .card-mid-right-gobal i {
  margin-left: 5px;
}
.main-room .content .card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1.7rem 1.5rem;
  height: 20%;
  background-color: var(--room-bottom);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.main-room .content .card-bottom p {
  font-size: 1vw;
  color: var(--llwhite);
}
.main-room .content .card-bottom p a {
  text-decoration: none;
  color: var(--llwhite);
  font-size: 1vw;
}
.main-room .content .card-bottom p a:hover {
  text-decoration: underline;
  color: #3758fd;
}
.main-room .content .card-bottom .card-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.main-room .content .card-bottom .card-bottom-right button {
  padding: 5px 20px;
  background-color: var(--roomdark);
  border: 1px solid var(--roomdark);
  color: var(--llwhite);
  border-radius: 20px;
  transition: 0.3s ease;
}
.main-room .content .card-bottom .card-bottom-right button a {
  color: var(--llwhite);
  text-decoration: none;
}
.main-room .content .card-bottom .card-bottom-right button:hover {
  background-color: var(--llwhite);
  border: 1px solid var(--llwhite);
  color: var(--roomdark);
}
.main-room .content .card-bottom .card-bottom-right button:hover a {
  color: var(--black);
  text-decoration: none;
}/*# sourceMappingURL=your_joined_room.css.map */