{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/profile_request.css' %}" />
{% endblock %} {% block content %}
<div class="main">
  <div class="main-1">
    <div class="top">
      <h1>Follow Requests</h1>
    </div>
    <div class="bottom">
      <ol>
        {% if follow_request %} {% for request in follow_request %}
        <li>
          {{ request.from_user.username }}
          <a href="{% url 'accept-follow-request' request.id %}">Acceptt</a>
          <a href="{% url 'decline-follow-request' request.id %}">Decline</a>
        </li>
        {% endfor %} {% else %}
        <p>None</p>
        {% endif %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
