{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/body.css' %}" />
{% endblock %} {% block nav %}
<a href="/">HOME</a>
{% endblock %} {% block content %}
<div class="main-body">
  <div class="topic">
    {% for room in rooms %}
    <a href="#">{{room.name}}</a>
    {% endfor %}
  </div>
  <div class="content">
    <div class="row g-5">
      {% for room in rooms %}
      <div class="col-md-6 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-top">
            <div class="card-top-left">
              <img
                src="{% static 'assets/2019_07_29_77135_1564383613._large.jpg' %}"
                alt=""
              />
              <a href="#">@{{room.created_by}}</a>
            </div>
            <small>{{room.created_at|date:"Y F j"}}</small>
          </div>
          <div class="card-mid">
            <a href="#">{{room.name}}</a>
            <small>{{room.description}}</small>
          </div>
          <div class="card-bottom">
            <p>5k Joined</p>
            <button><b>JOIN</b></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="activity"></div>
</div>
{% endblock %}
