{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/body.css' %}" />
{% endblock %} {% block nav %}
<a href="/">Home </a>
{% endblock %} {% block content %}
<div class="main-body">
  <div class="topic">
    {% for tag in tags %}
    <a href="{% url 'Tag' tag.name %}">{{tag.name}}</a>
    {% endfor %}
  </div>
  <div class="content">
    <div class="row g-5">
      {% for room in rooms %}
      <div class="col-md-6 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-top">
            <div class="card-top-left">
              <img src="{% static 'assets/2019_07_29_77135_1564383613._large.jpg' %}" alt="" />
              <a href="{% url 'Profile' room.created_by.pk %}">@{{room.created_by.username}}</a>
            </div>
            <p>created: {{room.created_at|date:"Y F j"}}</p>
          </div>
          <div class="card-mid">
            <div class="card-mid-left">
              <a href="{% url 'Rooms' room.pk %}">{{room.name}}</a>
              <small>{{room.description}}</small>
            </div>
            {% if room.created_by == user %}
            <div class="card-mid-right">
              <a href="{% url 'Edit-room' room.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="{% url 'Delete-room' room.pk %}"><i class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
          </div>
          <div class="card-bottom">
            <p>
              {{room.member_count}} Joined / {% for tag in room.tags.all %}
              <a href="{% url 'Tag' tag.name %}">{{ tag.name }}</a>
              {% endfor %}
            </p>
            {% if user.is_authenticated %} {% if request.user not in room.members_count.all %}
            <button>
              <b><a href="{% url 'Join-room' room.pk %}">Join</a></b>
            </button>
            {% else %}
            <button>
              <b><a href="{% url 'Exit-room' room.pk %} ">Exit Room</a></b>
            </button>
            {% endif %} {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="activity"></div>
</div>
{% endblock %}
