{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/body.css' %}" />
{% endblock %} {% block nav %}
<a href="/">HOME</a>
{% endblock %} {% block content %}
<div class="main-body">
  <div class="activity_container"></div>
  <div class="topic_container">
    {% for room in rooms %}
    <div>{{room.name}}</div>
    {% endfor %}
  </div>
  <div class="room_container">
    <div class="#"></div>
  </div>
</div>
{% endblock %}
