{% extends 'base.html' %} {% load static %} {% block title %}
<title>Profile</title>
{% endblock %} {% block nav1 %}
<a href="{% url 'Profile' profile.user.username %}">/ profile</a>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %} {% block content %}

<div class="profile-container">
  <div class="profile-container-top">
    <div class="profile-container-top-left">
      {% if profile.profile_pic %}
      <img src="{{profile.profile_pic.url}}" alt="profile pic" />
      {% else %}
      <img src="{% static 'assets/default.png' %}" alt="profile pic" />
      {% endif %}
    </div>
    {% if request.user == profile.user %}
    <i class="fa-solid fa-pen-to-square" onclick="updateProfile()"></i>
    {% endif %}
    <div class="profile-container-top-mid">
      <div class="username">
        <h1>{{ profile.user.username }}</h1>
        <p>{{ profile.user.email }}</p>
      </div>
      <div class="bio">
        <p>{{ profile.bio }}</p>
      </div>
      {% if request.user != user %}
      <div class="follow_request">
        {% if is_follower %}
        <button>
          <b><a href="{% url 'Unfollow' user.id %}">Unfollow</a></b>
        </button>
        {% elif user.id in send_follow_request %}
        <p>Request Sent</p>
        {% else %}
        <button>
          <b><a href="{% url 'send-follow-request' user.id %}">Follow</a></b>
        </button>
        {% endif %}
      </div>
      {% endif %} {% if request.user == profile.user%}
      <button>
        <b><a href="{% url 'follow-request' profile.user.username %}">Follow Request</a></b>
      </button>
      {% endif %} {% if request.user == user %}
      <button onclick="editProfile()">Edit Profile</button>
      {% endif %}
    </div>
    <div class="profile-container-top-right">
      <div class="profile-container-top-right-top">
        <p>Rooms</p>
        <p>{{ profile.user.rooms.count }}</p>
      </div>
      <div class="profile-container-top-right-mid">
        {% if request.user == user %}
        <div>
          {% if request.user in user.profile.followers.all %}
          <a href="{% url 'followers-list' user.username %}">Followers</a>
          {% else %}
          <a href="{% url 'followers-list' user.username %}"><p>Followers</p></a>
          {% endif %}
        </div>
        {% else %}
        <p>Followers</p>
        {% endif %}
        <p>{{ user.profile.followers.count }}</p>
      </div>
      <div class="profile-container-top-right-bottom">
        {% if request.user == user and request.user in profile.user.following.all %}
        <a href="{% url 'following-list' user.username %}">Following</a>
        {% else %}
        <p>Following</p>
        {% endif %}
        <p>{{ user.profile.following.count }}</p>
      </div>
    </div>
  </div>
  <div class="profile-container-mid">
    <div class="row g-5">
      {% for room in room %}
      <div class="col-md-6 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-top">
            <div class="card-top-left">
              <img src="{% static 'assets/2019_07_29_77135_1564383613._large.jpg' %}" alt="" />
              <a href="{% url 'Profile' room.created_by.username %}">@{{room.created_by.username}}</a>
            </div>
            <p>created: {{room.created_at|date:"Y F j"}}</p>
          </div>
          <div class="card-mid">
            <div class="card-mid-left">
              <a href="{% url 'Rooms' room.name %}">{{room.name}}</a>
              <small>{{room.description}}</small>
            </div>

            <div class="card-mid-right">
              {% if room.created_by == request.user %}
              <a href="{% url 'Edit-room' room.name %}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="{% url 'Delete-room' room.name %}"><i class="fa-solid fa-trash"></i></a>
              {% endif %} {% if room.is_private %}
              <div class="card-mid-right-gobal">
                <i class="fa-solid fa-lock"></i>
              </div>
              {% else %}
              <div class="card-mid-right-gobal">
                <i class="fa-solid fa-globe"></i>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="card-bottom">
            <p>
              {% if room.created_by == request.user %}
              <a href="{% url 'Room-members' room.name %}">{{room.member_count}} Joined</a>
              {% else %} {{room.member_count}} Joined{% endif %} / {% for tag in room.tags.all %}
              <a href="{% url 'Tag' tag.name %}">{{ tag.name }}</a>
              {% endfor %}
            </p>
            <div class="card-bottom-right">
              {% if request.user.is_authenticated and not room.created_by == request.user %}
              <div>
                {% if request.user not in room.members_count.all %}
                <!-- Exit Room Button -->
                <button>
                  <b><a href="{% url 'Join-room' room.name %}">Join</a></b>
                </button>

                {% else %}
                <!-- Join Room Button -->
                <button>
                  <b><a href="{% url 'Exit-room' room.name %}">Exit</a></b>
                </button>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  function editProfile() {
    window.location.href = "{% url 'Update-user' profile.user.username %}";
  }
  function updateProfile() {
    window.location.href = "{% url 'Update-profile' profile.user.username %}";
  }
</script>
{% endblock %}
