{% extends 'base.html' %} {% load static %} {% block title %}
<title>Profile</title>
{% endblock %} {% block nav %}
<a href="#">Profile </a>
{% endblock %} {% block content %}
<div class="profile-container">
  <div class="profile-container-left">
    <a href="#">Update Profile</a>
    {% if profile.profile_pic %}
    <img src="#" alt="profile pic" />
    {% else %}
    <img src="#" alt="profile pic" />
    {% endif %}
  </div>
  <div class="profile-container-right">
    <h1>{{ profile.user.username }}</h1>
    <p>{{ profile.user.email }}</p>
  </div>
  <div class="profile-container-bottom">
    <h2>Rooms</h2>
    <div class="profile-container-bottom-rooms">
      {% for room in profile.rooms.all %}
      <a href="{% url 'Rooms' room.id %}">{{ room.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
