{% extends 'base.html' %} {% load static %}{% block title %}
<title>Room</title>
{% endblock %} {% block nav1 %}
<a href="{% url 'Rooms' rooms.pk %}">/ {{rooms.name}}</a>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/room.css' %}" />
{% endblock %} {% block content %}
<div class="rooms">
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
      <i class="fas fa-tachometer-alt"></i><span class="btn-txt">Dashboard</span>
    </button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">
      <i class="fa-solid fa-user-group"></i><span class="btn-txt">Group</span>
    </button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">
      <i class="fa-solid fa-book"></i><span class="btn-txt">Study Materials</span>
    </button>
  </div>
  <div class="messages">{% include 'base/popmessage.html' %}</div>
  <div id="London" class="tabcontent">
    <div class="tabcontent-top">
      <div class="tabcontent-top-left">
        <i class="fa-solid fa-calculator"></i>
        <div class="tabcontent-top-left-1">
          <p>{{rooms.name}}</p>
          <small>{{rooms.description}}</small>
          <small>Created on: {{rooms.created_at|date:"Y F j"}}</small>
        </div>
      </div>
      <div class="tabcontent-top-right">
        <p>Created by:</p>
        <div class="tabcontent-top-right-1">
          <img src="{% static 'assets/2019_07_29_77135_1564383613._large.jpg' %}" alt="img" />
          <a href="#">@{{rooms.created_by.username}}</a>
        </div>
        <p>{{members}} Joined</p>
      </div>
    </div>
  </div>

  <div id="Paris" class="tabcontent">
    <h3>Group</h3>
    <p>Collaborate with your friends and study together</p>
  </div>

  <div id="Tokyo" class="tabcontent">
    <h3>Study Materials</h3>
    <p>upload your study materials hear</p>
    <p>
      <a href="{% url 'Rooms' rooms.pk %}">Back to Room</a>
    </p>
  </div>
</div>
<script src="{% static 'js/room.js'%}"></script>
{% endblock %}
